{% extends 'main_page.html' %}

{% block content %}
    <form action="" method="GET" id="table_options"></form>

    <div class="container rounded shadow py-4 mb-3">    
        <div class="input-group input-group-sm">
            <input form="table_options" class="form-control mb-1" type="search" name="search" placeholder="Search..." value="{{request.GET.search}}">
            <button form="table_options" class="btn btn-primary text-light rounded btn-sm"><i class="fas fa-search"></i></button>
        </div>
        <select class="form-select" form="table_options" name="resale_filter" id="resale_filter" value="{{ request.GET.resale_filter}}">
            {% for resale in resales %}
                <option value="{{ resale.id }}" name="{{ resale.id }}" {% if resale.id|stringformat:"i" == request.GET.resale_filter %} selected{% endif %}>{{ resale.resale_name }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="container rounded shadow py-4">   
        <span>Found {{ itens|length}} itens</span>     
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>S/N</th>
                        <th>Brand</th>
                        <th>Group</th>
                        <th>State</th>
                        <th>Create at</th>
                        <th>Update at</th>
                    </tr>
                </thead>
            
                <tbody>
                    {% for item in itens %}
                    <tr class="rounded">
                        <td>{{ item.item_name }}</td>
                        <td>{{ item.item_sn }}</td>
                        <td>{{ item.item_brand }}</td>                        
                        <td>{{ item.item_group }}</td>
                        <td>{{ item.item_state }}</td>
                        <td>{{ item.create_at }}</td>
                        <td>{{ item.update_at}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <script>
        const resaleFilter = document.getElementById('resale_filter')
        const tableOptionsForm = document.getElementById('table_options')

        resaleFilter.addEventListener('change',(ev)=>{
            tableOptionsForm.submit()
        })

    </script>
{% endblock %}
