{% extends 'main_page.html' %}

{% block content %}
    <div class="container rounded shadow py-4 mb-3">
        <form method="GET">
            <div class="input-group input-group-sm">
                <input class="form-control mb-1" type="search" name="search" placeholder="Search..." value="{{request.GET.search}}">
                <button class="btn btn-primary text-light rounded"><i class="fas fa-search"></i></button>
            </div>
        </form>
    </div>

    <div class="container rounded shadow py-4">
        <span>Found {{ itens|length}} itens</span>     
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>S/N</th>
                        <th>Brand</th>
                        <th>Group</th>
                        <th>State</th>
                    </tr>
                </thead>
            
                <tbody>
                    {% for item in itens %}
                    <tr class="rounded">
                        <td>{{ item.item_name }}</td>
                        <td>{{ item.item_sn }}</td>
                        <td>{{ item.item_brand }}</td>                        
                        <td>{{ item.item_group }}</td>
                        <td>{{ item.item_state}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
